<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/totalDonors.css">
</head>
<body>
<div class="header">
    <a class="logo" href="/">The Donor</a>
    <div class="header-right">
        <a class="links" href="/">Home</a>
        <a class="links" href="/viewDonors">View Donors</a>
        <a class="links" href="/about">About Developer</a>
    </div>
</div>
<div style="margin-left:3%">
    <h3>Filter Search</h3>
</div>
<div class="filter">
    <form action="/viewDonors" method="POST">
        <select class="selectButtons" name="institute" id="">
            <option value="" selected>Institute</option>
            <option value="JMIT">JMIT</option>
            <option value="JMIETI">JMIETI</option>
            <option value="MLN YNR">MLN YNR</option>
            <option value="MLN Radaur">MLN Radaur</option>
            <option value="SJPP Damla">SJPP Damla</option>
            <option value="Others">Others</option>
        </select>
        <select class="selectButtons"  name="course" id="">
            <option value="" selected>Course</option>
            <option value="BBA" >BBA</option>
            <option value="BCA" >BCA</option>
            <option value="BA" >BA</option>
            <option value="CSE" >CSE</option>
            <option value="CIVIL" >CIVIL</option>
            <option value="ELE" >ELE</option>
            <option value="ECE" >ECE</option>
            <option value="IT" >IT</option>
            <option value="ME" >ME</option>
            <option value="MBA" >MBA</option>
            <option value="MCA" >MCA</option>
            <option value="MA" >MA</option>
            <option value="MCOM" >MCOM</option> 
        </select>
        <select class="selectButtons" name="sex" id="">
            <option value="" selected>Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <select class="selectButtons" name="bank" id="">
            <option value="">Blood Bank</option>
            <option value="PGI">PGI</option>
            <option value="Red Cross">Red Cross</option>
        </select>
        <button class="subButton" type="submit">Search Donors</button>
    </form>
</div>
<div style="margin-left:3%">
    <h3>
        Institute Donors ( <%= results.length %> )
    </h3>
</div>
<div class="tablekeepers">
    <table class="myTable">
        <tr class="headings">
            <th style="width:10%;">Category</th>
            <th style="width:5%;">Institute</th>
            <th style="width:10%;">Roll/Employee Id</th>
            <th style="width:15%;">Name</th>
            <th style="width:5%;">Course</th>
            <th style="width:5%;">Year</th>
            <th style="width:5%;">Gender</th>
            <th style="width:10%;">Blood Group</th>
            <th style="width:10%;">Bank</th>
            <th style="width:15%;">Mobile Number</th>
            <th style="width:10%">Gift Recieved</th>  
        </tr>
        <% for (result in results) { %>
            <tr>
                <td><%= results[result].category %></td>
                <td><%= results[result].institute %></td>
                <td><%= results[result].rollno %></td>
                <td><%= results[result].donorName %></td>
                <td><%= results[result].course %></td>
                <td><%= results[result].year %></td>
                <td><%= results[result].sex %></td>
                <td><%= results[result].bloodGroup %></td>
                <td><%= results[result].bank %></td>
                <td><%= results[result].mobileNumber %></td>
                <td><%= results[result].giftRecieved %></td>
            </tr>
        <% } %>
    </table>
</div>
<div style="margin-left:3%">
    <h3>
        Guest Donors ( <%= guests.length %> )
    </h3>
</div>
<div class="tablekeepers">
    <table class="myTable">
        <tr class="headings">
            <th style="width:10%;">Category</th>
            <th style="width:15%;">Name</th>
            <th style="width:10%;">Father's Name</th>
            <th style="width:10%;">Age</th>
            <th style="width:10%;">Gender</th>
            <th style="width:10%;">Blood Group</th>
            <th style="width:10%;">Bank</th>
            <th style="width:15%;">Mobile Number</th>
            <th style="width:10%">Gift Recieved</th>  
        </tr>
        <% for (guest in guests) { %>
            <tr>
                <td><%= guests[guest].category %></td>
                <td><%= guests[guest].donorName %></td>
                <td><%= guests[guest].fatherName %></td>
                <td><%= guests[guest].age %></td>
                <td><%= guests[guest].sex %></td>
                <td><%= guests[guest].bloodGroup %></td>
                <td><%= guests[guest].bank %></td>
                <td><%= guests[guest].mobileNumber %></td>
                <td><%= guests[guest].giftRecieved %></td>  
            </tr>
        <% } %>
    </table>
</div>
</body>
</html>