<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/totalDonors.css">
</head>
<body>
<div class="header">
    <a class="logo" href="/">The Donor</a>
    <div class="header-right">
        <a class="links" href="/">Home</a>
        <a class="links" href="/viewDonors">View Donors</a>
        <a class="links" href="/filter">Filter Search</a>
        <a class="links" href="/downloadAsExcel">Download Excel</a>
        <a class="links" href="/logout">Logout</a>
    </div>
</div>
<div style="overflow:auto;height:70vh">
    <div style="margin-left:3%">
        <h3>
         Total Donors:(<%= results.length + guests.length %>), &nbsp;&nbsp;&nbsp; Institute Donors:( <%= results.length %> )
        </h3>
    </div>
    <div class="tablekeepers">
        <table class="myTable">
            <tr class="headings">
                <th style="width:10%;">SNo</th>
                <th style="width:10%;">Institute</th>
                <th style="width:10%;">Name</th>
                <th style="width:5%;">Blood Group</th>
                <th style="width:10%;">Gift Recieved</th>
                <!-- <th style="width:15%;">Name</th>
                <th style="width:5%;">Course</th>
                <th style="width:5%;">Year</th>
                <th style="width:5%;">Gender</th>
                <th style="width:10%;">Blood Group</th>
                <th style="width:10%;">Bank</th>
                <th style="width:15%;">Mobile Number</th>
                <th style="width:10%">Gift Recieved</th>   -->
            </tr>
            <% for (result in results) { %>
                <tr>
                    <td><%= results[result].SerialNo %></td>
                    <td><%= results[result].Institute %></td>
                    <td><%= results[result].FullName %></td>
                    <td><%= results[result].BloodGroup %></td>
                    <td><%= results[result].GiftRecieved %></td>
                    <!-- <td><%= results[result].donorName %></td>
                    <td><%= results[result].course %></td>
                    <td><%= results[result].year %></td>
                    <td><%= results[result].sex %></td>
                    <td><%= results[result].bloodGroup %></td>
                    <td><%= results[result].bank %></td>
                    <td><%= results[result].mobileNumber %></td>
                    <td><%= results[result].giftRecieved %></td> -->
                </tr>
            <% } %>
        </table>
    </div>
    <div style="margin-left:3%">
        <h3>
            Guest Donors ( <%= guests.length %> )
        </h3>
    </div>
    <div class="tablekeepers">
        <table class="myTable">
            <tr class="headings">
                    <th style="width:10%;">SNo</th>
                    <th style="width:10%;">Institute</th>
                    <th style="width:10%;">Name</th>
                    <th style="width:5%;">Blood Group</th>
                    <th style="width:10%;">Gift Recieved</th>  
            </tr>
            <% for (guest in guests) { %>
                <tr>
                    <td><%= guests[guest].SerialNo %></td>
                    <td><%= guests[guest].Institute %></td>
                    <td><%= guests[guest].donorName %></td>
                    <td><%= guests[guest].bloodGroup %></td>
                    <td><%= guests[guest].giftRecieved %></td>
                </tr>
            <% } %>
        </table>
    </div>

</div>
<footer>
    <h4>Developed By : Rajat</h4>
    <div>
        <h4>Teacher Coordinators :</h4>
        <h4>Dr. Gaurav Sharma</h4>
        <h4>Er. Shilpi</h4>
        <h4>Er. Monika</h4>
    </div>
</footer>
</body>
</html>